# node modules
# Ignorar dependências
node_modules/
**/node_modules/

# Ignorar locks (opcional, se não quiser versionar)
package-lock.json
**/package-lock.json
pnpm-lock.yaml
yarn.lock

# Ignorar ambiente
.env
.env.*


# arquivos de build (caso você use vite build)
dist/

# arquivos de ambiente
.env
.env.local
.env.development
.env.production

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# arquivos do sistema
.DS_Store
Thumbs.db

# cache do Vite
.vite/

# configurações do editor
.vscode/