# Ignora arquivos compilados do Python
__pycache__/
*.py[cod]
*.pyo

# Ignora ambientes virtuais
venv/
.venv/

# Ignora arquivos de ambiente
.env

# Ignora credenciais sensíveis
/config/
firebase-credentials.json

# Ignora arquivos de configuração de IDEs
.vscode/
.idea/
*.swp

# Ignora arquivos de sistema
.DS_Store
Thumbs.db

# Ignora arquivos de log
*.log

# Build do React
frontend/node_modules/
frontend/dist/
frontend/build/
